body {
  background-color: black;
}

.box {
  width: 1980px;
  height: 1080px;
}

.box .group {
  position: fixed;
  width: 1988px;
  height: 1080px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  position: relative;
  height: 1088px;
  left: -4px;
  background-image: url(./img/rectangle-39.png);
  background-size: 100% 100%;
}

.box .overlap {
  position: absolute;
  width: 591px;
  height: 382px;
  top: 569px;
  left: 1174px;
  background-color: #67e4c1;
  border-radius: 50px;
}

.box .rectangle {
  position: absolute;
  width: 514px;
  height: 299px;
  top: 41px;
  left: 39px;
  object-fit: cover;
}

.box .image-wrapper {
  position: absolute;
  width: 591px;
  height: 372px;
  top: 116px;
  left: 1174px;
  background-color: #67e4c1;
  border-radius: 50px;
}

.box .image {
  position: absolute;
  width: 387px;
  height: 331px;
  top: 12px;
  left: 102px;
  object-fit: cover;
}

.box .the-mandelbrot {
  position: absolute;
  width: 912px;
  top: 214px;
  left: 117px;
  font-family: "Ubuntu-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper {
  color: #ffffff;
}

.box .span {
  color: #67e4c1;
}

.box .div {
  position: absolute;
  width: 427px;
  top: 171px;
  left: 117px;
  font-family: "Ubuntu-Bold", Helvetica;
  font-weight: 700;
  color: #67e4c1;
  font-size: 38px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .overlap-2 {
  position: absolute;
  width: 911px;
  height: 375px;
  top: 522px;
  left: 117px;
}

.box .brownian-motion-is-a {
  position: absolute;
  width: 911px;
  top: 74px;
  left: 0;
  font-family: "Ubuntu-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper-2 {
  position: absolute;
  width: 327px;
  top: 0;
  left: 0;
  font-family: "Ubuntu-Medium", Helvetica;
  font-weight: 500;
  color: #67e4c1;
  font-size: 38px;
  letter-spacing: 0;
  line-height: normal;
}

.box .vector {
  position: absolute;
  width: 49px;
  height: 37px;
  top: 48px;
  left: 137px;
}

.box .img {
  position: absolute;
  width: 61px;
  height: 47px;
  top: 43px;
  left: 56px;
}
