<form class="add_fractal_from" 
  hx-post="rotate" 
  hx-swap="outerHTML"
  hx-target="this"
  enctype="multipart/form-data"
  >

  <label class="fractal-input-label" style="top: 30%">Enter Coordinates:</label>
  <input class="fractal-input" style="top: 29%; width: 3%;" type="number" id="ax" name="ax"placeholder="Ax" >
  <input class="fractal-input" style="top: 29%; left: 33%; width: 3%;" type="number" name="bx" placeholder="Bx">
  <input class="fractal-input" style="top: 29%; left: 37%; width: 3%;" type="number" name="cx" placeholder="Cx">

  <input class="fractal-input" style="top: 36%; width: 3%;" type="number" id="ax" name="ay" placeholder="Ay">
  <input class="fractal-input" style="top: 36%; left: 33%; width: 3%;" type="number" name="by" placeholder="By">
  <input class="fractal-input" style="top: 36%; left: 37%; width: 3%;" type="number" name="cy" placeholder="Cy" >

  <label class="fractal-input-label" style="top: 45%;">Slect Vertex:</label>
  <select class="select-input" name="option" style="font-size: 34px;">
    <option value="0">A</option>
    <option value="1">B</option>
    <option value="2">C</option>
    <option value="3">D</option>
  </select>

  <label class="fractal-input-label" style="top: 54%">Enter Decrease Factor:</label>
  <input class="fractal-input" min="1" max="5"style="top: 52.5%;" type="number" id="decrease_factor" name="decrease_factor" >

  <div class="graph">
    <div class="hidden" id="loading-icon">
      <i class="loading-icon fa fa-spinner fa-spin fa-5x fa-fw"></i>
    </div>
  </div>

  <button class="form-button" onclick="showIcon()">Start</button>  
      
</form>