<form class="add_fractal_from" 
    hx-post="show_fractal" 
    hx-swap="outerHTML"
    hx-target="this">
          <div class="text-wrapper-9">DT:</div>
          <div class="rectangle"></div>
          <div class="text-wrapper">Max Iterations:</div>
          <div class="text-wrapper-2">Enter Color Schema:</div>
          <input type="radio" class="brownian_motion_rb" name="type" value="brownian_motion"/><label class="text-wrapper-3">Brownian Motion</label>

          <input type="radio" class="mandelbrot_rb" name="type" value="mandelbrot"checked/><label class="text-wrapper-4">Mandelbrot</label>
          <div class="text-wrapper-5">Diffusion Coefficient:</div>
          
          <div class="rectangle-7"><input type="float" id="dt" name="dt" type="number" placeholder="0.1" value=0.1></div>
          <div class="text-wrapper-6">Enter Width:</div>
          <div class="text-wrapper-7">Enter Height:</div>
          <div class="rectangle-2"><input type="color" id="bm_color_selector" name="color" value="#ffffff"/></div>
          <div class="rectangle-3"><input type="number" id="width" name="width" type="number" placeholder="2000" value=2000></div>
          <div class="rectangle-4"><input type="number" id="height" name="height" type="number" placeholder="2000" value=2000></div>
          <div class="rectangle-5"><input type="number" id="max_iter" name="max_iter" type="number" placeholder="256" value=256></div>
          <div class="rectangle-6"><input type="float" id="diffusion_coefficient" name="diffusion_coefficient" type="number" placeholder="0.1" value=0.1></div>
          <div class="overlap"><div class="text-wrapper-8"><button>Start</button></div></div>          
</form>