<form class="add_fractal_from" 
  hx-post="change" 
  hx-swap="outerHTML"
  hx-target="this"
  enctype="multipart/form-data"
  >

  <label class="fractal-input-label" style="top: 30%">Coef of green color:</label>
  <input class="fractal-input" style="top: 29%;" type="range" id="coef" name="coef" min="0" max="100">

  <label class="fractal-input-label" style="top: 37.5%;">Upload File:</label>
  <input class="fractal-file-input" type="file" id="file" name="file"/>

  <label class="fractal-input-label" style="top: 45%;">Select Option:</label>
  <select class="select-input" name="option">
    <option value="1">Change Green Stauration</option>
    <option value="2">Move From RGB To HSV</option>
    <option value="3">Move From HSV To RGB</option>
  </select>

  <div class="graph">
    <div class="hidden" id="loading-icon">
      <i class="loading-icon fa fa-spinner fa-spin fa-5x fa-fw"></i>
    </div>
  </div>

  <button class="form-button" onclick="showIcon()">Start</button>  
      
</form>