<form class="add_fractal_from" 
  hx-post="change" 
  hx-swap="outerHTML"
  hx-target="this"
  enctype="multipart/form-data"
  >

  <label class="fractal-input-label" style="top: 30%">Choose Coef:</label>
  <input class="fractal-input" style="top: 30%;" type="range" id="coef" name="coef" min="0" max="100">

  <label class="fractal-input-label" style="top: 35.56%;">Upload File:</label>
  <input class="fractal-file-input" type="file" id="file" name="file"/>


  <div class="graph">
    <div class="hidden" id="loading-icon">
      <i class="loading-icon fa fa-spinner fa-spin fa-5x fa-fw"></i>
    </div>
  </div>

  <button class="form-button" onclick="showIcon()">Start</button>  
      
</form>